<div class="mdc-layout-grid__inner">
  <Game::Player @wins={{this.scoreX}} @player="X" @current={{this.currentPlayer}}/>
  <Game::Player @wins={{this.scoreO}} @player="O" @current={{this.currentPlayer}}/>
  <div>Draws: {{this.totalDraws}}</div>
</div>
<div class="mdc-layout-grid__inner">
  <div class="game-field">
    {{#each this.gameState as |field index|}}
      <Game::Field @value={{field}}
                   @index={{index}}
                   @winnerFields={{this.winnerFields}}
                   @onClick={{fn this.clickCell index}}/>
    {{/each}}
  </div>
</div>
{{#unless this.playing}}
  <div class="mdc-layout-grid__inner">
    <label>{{this.victoryText}}</label>
  </div>
{{/unless}}

<Atoms::Button @onClick={{fn this.newGame}} @text="New game"/>
<Atoms::Button @onClick={{fn this.resetScores}} @text="Reset scores"/>